# Build settings

port: 4000
markdown:  kramdown
permalink: /:title
plugins:   [jekyll-sitemap, jekyll-feed,  jekyll-seo-tag]

# Customise atom feed settings (this is where Jekyll-Feed gets configuration information)

url: "https://LeejH601.github.io"
title:		   "LEE JIHYUNG's PortPolio"
description: "Powered by Jekyll and GitHub Pages"
author:      "LEE JIHYUNG"
