# Build settings

port: 4000
markdown:  kramdown
permalink: /:title
plugins:   [jekyll-sitemap, jekyll-feed,  jekyll-seo-tag]

# Customise atom feed settings (this is where Jekyll-Feed gets configuration information)

url: "https://LeejH601.github.io"
title:		   "이지형 그래픽스 프로그래머"
description: "portfolio"
author:      "LEE JIHYUNG"
